<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.4" xmlns="http://java.sun.com/xml/ns/j2ee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd">
    <!-- ********* CONFIGURACOES ZK ************************** -->
    <listener>
        <description>ZK listener for session cleanup</description>
        <listener-class>org.zkoss.zk.ui.http.HttpSessionListener</listener-class>
    </listener>
    <servlet>
        <description>ZK loader for ZUML pages</description>
        <servlet-name>zkLoader</servlet-name>
        <servlet-class>org.zkoss.zk.ui.http.DHtmlLayoutServlet</servlet-class>
        <!-- Must. Specifies URI of the update engine (DHtmlUpdateServlet).
		It must be the same as <url-pattern> for the update engine.
		-->
        <init-param>
            <param-name>update-uri</param-name>
            <param-value>/zkau</param-value>
        </init-param>
        <!-- Optional. Specifies whether to compress the output
		of the ZK loader. It speeds up the transmission over slow Internet.
		However, if you configure a filter to post-processing the
		output, you might have to disable it.

		Default: true
		<init-param>
			<param-name>compress</param-name>
			<param-value>true</param-value>
		</init-param>
		-->
        <!-- Optional. Specifies the default log level: OFF, ERROR, WARNING,
			INFO, DEBUG and FINER. If not specified, the system default is used.
		<init-param>
			<param-name>log-level</param-name>
			<param-value>OFF</param-value>
		</init-param>
		-->
        <load-on-startup>1</load-on-startup>
        <!-- Must -->
    </servlet>
    <servlet>
        <servlet-name>cab</servlet-name>
        <servlet-class>br.uem.npd.utilitarios.cab</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>MensagemInventarioExpirou</servlet-name>
        <servlet-class>br.uem.npd.utilitarios.MensagemInventarioExpirou</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>zkLoader</servlet-name>
        <url-pattern>*.zul</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>zkLoader</servlet-name>
        <url-pattern>*.zhtml</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>zkLoader</servlet-name>
        <url-pattern>*.svg</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>zkLoader</servlet-name>
        <url-pattern>*.xml2html</url-pattern>
    </servlet-mapping>
    <!-- Optional. Uncomment it if you want to use richlets.
	-->
    <servlet-mapping>
        <servlet-name>zkLoader</servlet-name>
        <url-pattern>/zk/*</url-pattern>
    </servlet-mapping>
    <servlet>
        <description>The asynchronous update engine for ZK</description>
        <servlet-name>auEngine</servlet-name>
        <servlet-class>org.zkoss.zk.au.http.DHtmlUpdateServlet</servlet-class>
        <!-- [Optional] Specifies the AU processor for particular prefix.
		<init-param>
			<param-name>processor0</param-name>
			<param-value>/upload=com.my.MyUploader</param-value>
		</init-param>
		-->
    </servlet>
    <servlet-mapping>
        <servlet-name>auEngine</servlet-name>
        <url-pattern>/zkau/*</url-pattern>
    </servlet-mapping>
    <!-- Uncomment if you want to use the ZK filter to post process the HTML output
	generated by other technology, such as JSP and velocity.
	<filter>
		<filter-name>zkFilter</filter-name>
		<filter-class>org.zkoss.zk.ui.http.DHtmlLayoutFilter</filter-class>
		<init-param>
			<param-name>extension</param-name>
			<param-value>html</param-value>
		</init-param>
		<init-param>
			<param-name>compress</param-name>
			<param-value>true</param-value>
		</init-param>
	</filter>
	<filter-mapping>
		<filter-name>zkFilter</filter-name>
		<url-pattern>/test/filter.dsp</url-pattern>
	</filter-mapping>
	<filter-mapping>
		<filter-name>zkFilter</filter-name>
		<url-pattern>/test/filter2.dsp</url-pattern>
	</filter-mapping>
	-->
    <!-- ///////////// -->
    <!-- DSP (optional) -->
    <!-- We need it to show zkdemo correctly (due to categorybar.dsp)
	-->
    <filter>
        <filter-name>zkFilter</filter-name>
        <filter-class>org.zkoss.zk.ui.http.DHtmlLayoutFilter</filter-class>
        <init-param>
            <param-name>extension</param-name>
            <param-value>html</param-value>
        </init-param>
        <init-param>
            <param-name>compress</param-name>
            <param-value>true</param-value>
        </init-param>
    </filter>
    <filter-mapping>
        <filter-name>zkFilter</filter-name>
        <url-pattern>/test/filter.dsp</url-pattern>
    </filter-mapping>
    <filter-mapping>
        <filter-name>zkFilter</filter-name>
        <url-pattern>/test/filter2.dsp</url-pattern>
    </filter-mapping>
    <!--
    <filter-mapping>
        <filter-name>zkFilter</filter-name>
        <url-pattern>*.jsp</url-pattern>
        <dispatcher>REQUEST</dispatcher>
        <dispatcher>INCLUDE</dispatcher>
        <dispatcher>FORWARD</dispatcher>
        <dispatcher>ERROR</dispatcher>
    </filter-mapping>
    -->
    <servlet>
        <servlet-name>dspLoader</servlet-name>
        <servlet-class>org.zkoss.web.servlet.dsp.InterpreterServlet</servlet-class>
        <init-param>
            <param-name>class-resource</param-name>
            <param-value>true</param-value>
        </init-param>
    </servlet>
    <servlet-mapping>
        <servlet-name>dspLoader</servlet-name>
        <url-pattern>*.dsp</url-pattern>
    </servlet-mapping>
    <!-- MIME mapping -->
    <mime-mapping>
        <extension>doc</extension>
        <mime-type>application/vnd.ms-word</mime-type>
    </mime-mapping>
    <mime-mapping>
        <extension>gif</extension>
        <mime-type>image/gif</mime-type>
    </mime-mapping>
    <mime-mapping>
        <extension>htm</extension>
        <mime-type>text/html</mime-type>
    </mime-mapping>
    <mime-mapping>
        <extension>html</extension>
        <mime-type>text/html</mime-type>
    </mime-mapping>
    <mime-mapping>
        <extension>jnlp</extension>
        <mime-type>application/x-java-jnlp-file</mime-type>
    </mime-mapping>
    <mime-mapping>
        <extension>jpeg</extension>
        <mime-type>image/jpeg</mime-type>
    </mime-mapping>
    <mime-mapping>
        <extension>jpg</extension>
        <mime-type>image/jpeg</mime-type>
    </mime-mapping>
    <mime-mapping>
        <extension>js</extension>
        <mime-type>application/x-javascript</mime-type>
    </mime-mapping>
    <mime-mapping>
        <extension>pdf</extension>
        <mime-type>application/pdf</mime-type>
    </mime-mapping>
    <mime-mapping>
        <extension>png</extension>
        <mime-type>image/png</mime-type>
    </mime-mapping>
    <mime-mapping>
        <extension>rar</extension>
        <mime-type>application/x-rar-compressed</mime-type>
    </mime-mapping>
    <mime-mapping>
        <extension>txt</extension>
        <mime-type>text/plain</mime-type>
    </mime-mapping>
    <mime-mapping>
        <extension>xls</extension>
        <mime-type>application/vnd.ms-excel</mime-type>
    </mime-mapping>
    <mime-mapping>
        <extension>xml</extension>
        <mime-type>text/xml</mime-type>
    </mime-mapping>
    <mime-mapping>
        <extension>xul</extension>
        <mime-type>application/vnd.mozilla.xul-xml</mime-type>
    </mime-mapping>
    <mime-mapping>
        <extension>zhtml</extension>
        <mime-type>text/html</mime-type>
    </mime-mapping>
    <mime-mapping>
        <extension>zip</extension>
        <mime-type>application/x-zip</mime-type>
    </mime-mapping>
    <mime-mapping>
        <extension>zul</extension>
        <mime-type>text/html</mime-type>
    </mime-mapping>
    <!-- FIM DAS CONFIGURAÇÕES DO ZK -->
    <!-- CONFIGURAÇÕES DO AJAX TAGSLIB-->
    <servlet>
        <servlet-name>sourceloader</servlet-name>
        <servlet-class>
            net.sourceforge.ajaxtags.servlets.SourceLoader
        </servlet-class>
        <!-- you don't need this, don't use spaces in url-pattern!-->
        <init-param>
            <param-name>prefix</param-name>
            <param-value>/ajaxtags</param-value>
        </init-param>
    </servlet>
    <servlet-mapping>
        <servlet-name>sourceloader</servlet-name>
        <!-- if you have /js/ in use in you webapp just map the url (use the prefix)-->
        <url-pattern>/ajaxtags/js/*</url-pattern>
    </servlet-mapping>
    <!--
    <servlet-mapping>
        <servlet-name>sourceloader</servlet-name>
        <url-pattern>/img/*</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>sourceloader</servlet-name>
        <url-pattern>/css/*</url-pattern>
    </servlet-mapping>
    -->
    <!-- FIM DAS CONFIGURAÇÕES DO AJAX TAGSLIB -->
    <!-- CONFIGURAÇÕES GERAIS DA APLICAÇÃO -->
    <servlet-mapping>
        <servlet-name>cab</servlet-name>
        <url-pattern>/cab</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>MensagemInventarioExpirou</servlet-name>
        <url-pattern>/MensagemInventarioExpirou</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>60</session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>index.jsp</welcome-file>
    </welcome-file-list>
    <!-- FIM DAS CONFIGURAÇÕES GERAIS -->
    <!-- **************** MENU BÁSICO DO SISTEMA - MN ******************  -->
    <servlet>
        <servlet-name>GerenciarSistema</servlet-name>
        <servlet-class>br.uem.npd.acesso.controladores.sistema.GerenciarSistema</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ExcluirSistema</servlet-name>
        <servlet-class>br.uem.npd.acesso.controladores.sistema.ExcluirSistema</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PesquisarSistema</servlet-name>
        <servlet-class>br.uem.npd.acesso.controladores.sistema.PesquisarSistema</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>NovoSistema</servlet-name>
        <servlet-class>br.uem.npd.acesso.controladores.sistema.NovoSistema</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GravarSistema</servlet-name>
        <servlet-class>br.uem.npd.acesso.controladores.sistema.GravarSistema</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AlterarSistema</servlet-name>
        <servlet-class>br.uem.npd.acesso.controladores.sistema.AlterarSistema</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>NovoMenu</servlet-name>
        <servlet-class>br.uem.npd.acesso.controladores.sistema.menu.NovoMenu</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GravarMenu</servlet-name>
        <servlet-class>br.uem.npd.acesso.controladores.sistema.menu.GravarMenu</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AlterarMenu</servlet-name>
        <servlet-class>br.uem.npd.acesso.controladores.sistema.menu.AlterarMenu</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ExcluirMenu</servlet-name>
        <servlet-class>br.uem.npd.acesso.controladores.sistema.menu.ExcluirMenu</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GerenciarGrupo</servlet-name>
        <servlet-class>br.uem.npd.acesso.controladores.grupo.GerenciarGrupo</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ExcluirGrupo</servlet-name>
        <servlet-class>br.uem.npd.acesso.controladores.grupo.ExcluirGrupo</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PesquisarGrupo</servlet-name>
        <servlet-class>br.uem.npd.acesso.controladores.grupo.PesquisarGrupo</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>NovoGrupo</servlet-name>
        <servlet-class>br.uem.npd.acesso.controladores.grupo.NovoGrupo</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GravarGrupo</servlet-name>
        <servlet-class>br.uem.npd.acesso.controladores.grupo.GravarGrupo</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AlterarGrupo</servlet-name>
        <servlet-class>br.uem.npd.acesso.controladores.grupo.AlterarGrupo</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>NovoGrupoUsuario</servlet-name>
        <servlet-class>br.uem.npd.acesso.controladores.grupo.grupoUsuario.NovoGrupoUsuario</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GravarGrupoUsuario</servlet-name>
        <servlet-class>br.uem.npd.acesso.controladores.grupo.grupoUsuario.GravarGrupoUsuario</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AlterarGrupoUsuario</servlet-name>
        <servlet-class>br.uem.npd.acesso.controladores.grupo.grupoUsuario.AlterarGrupoUsuario</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ExcluirGrupoUsuario</servlet-name>
        <servlet-class>br.uem.npd.acesso.controladores.grupo.grupoUsuario.ExcluirGrupoUsuario</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>NovoPermissao</servlet-name>
        <servlet-class>br.uem.npd.acesso.controladores.grupo.permissao.NovoPermissao</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GravarPermissao</servlet-name>
        <servlet-class>br.uem.npd.acesso.controladores.grupo.permissao.GravarPermissao</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AlterarPermissao</servlet-name>
        <servlet-class>br.uem.npd.acesso.controladores.grupo.permissao.AlterarPermissao</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ExcluirPermissao</servlet-name>
        <servlet-class>br.uem.npd.acesso.controladores.grupo.permissao.ExcluirPermissao</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Login</servlet-name>
        <servlet-class>br.uem.npd.acesso.controladores.login.Login</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GerenciarUsuario</servlet-name>
        <servlet-class>br.uem.npd.acesso.controladores.usuario.GerenciarUsuario</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ExcluirUsuario</servlet-name>
        <servlet-class>br.uem.npd.acesso.controladores.usuario.ExcluirUsuario</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PesquisarUsuario</servlet-name>
        <servlet-class>br.uem.npd.acesso.controladores.usuario.PesquisarUsuario</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>NovoUsuario</servlet-name>
        <servlet-class>br.uem.npd.acesso.controladores.usuario.NovoUsuario</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GravarUsuario</servlet-name>
        <servlet-class>br.uem.npd.acesso.controladores.usuario.GravarUsuario</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AlterarUsuario</servlet-name>
        <servlet-class>br.uem.npd.acesso.controladores.usuario.AlterarUsuario</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>GerenciarSistema</servlet-name>
        <url-pattern>/GerenciarSistema</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ExcluirSistema</servlet-name>
        <url-pattern>/ExcluirSistema</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PesquisarSistema</servlet-name>
        <url-pattern>/PesquisarSistema</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>NovoSistema</servlet-name>
        <url-pattern>/NovoSistema</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GravarSistema</servlet-name>
        <url-pattern>/GravarSistema</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AlterarSistema</servlet-name>
        <url-pattern>/AlterarSistema</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>NovoMenu</servlet-name>
        <url-pattern>/NovoMenu</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GravarMenu</servlet-name>
        <url-pattern>/GravarMenu</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AlterarMenu</servlet-name>
        <url-pattern>/AlterarMenu</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ExcluirMenu</servlet-name>
        <url-pattern>/ExcluirMenu</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GerenciarGrupo</servlet-name>
        <url-pattern>/GerenciarGrupo</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ExcluirGrupo</servlet-name>
        <url-pattern>/ExcluirGrupo</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PesquisarGrupo</servlet-name>
        <url-pattern>/PesquisarGrupo</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>NovoGrupo</servlet-name>
        <url-pattern>/NovoGrupo</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GravarGrupo</servlet-name>
        <url-pattern>/GravarGrupo</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AlterarGrupo</servlet-name>
        <url-pattern>/AlterarGrupo</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>NovoGrupoUsuario</servlet-name>
        <url-pattern>/NovoGrupoUsuario</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GravarGrupoUsuario</servlet-name>
        <url-pattern>/GravarGrupoUsuario</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AlterarGrupoUsuario</servlet-name>
        <url-pattern>/AlterarGrupoUsuario</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ExcluirGrupoUsuario</servlet-name>
        <url-pattern>/ExcluirGrupoUsuario</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>NovoPermissao</servlet-name>
        <url-pattern>/NovoPermissao</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GravarPermissao</servlet-name>
        <url-pattern>/GravarPermissao</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AlterarPermissao</servlet-name>
        <url-pattern>/AlterarPermissao</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ExcluirPermissao</servlet-name>
        <url-pattern>/ExcluirPermissao</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Login</servlet-name>
        <url-pattern>/Login</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GerenciarUsuario</servlet-name>
        <url-pattern>/GerenciarUsuario</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ExcluirUsuario</servlet-name>
        <url-pattern>/ExcluirUsuario</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PesquisarUsuario</servlet-name>
        <url-pattern>/PesquisarUsuario</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>NovoUsuario</servlet-name>
        <url-pattern>/NovoUsuario</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GravarUsuario</servlet-name>
        <url-pattern>/GravarUsuario</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AlterarUsuario</servlet-name>
        <url-pattern>/AlterarUsuario</url-pattern>
    </servlet-mapping>
    <!-- ********** SISTEMA DE MENU - MN - SERVLETS-MAPPING - TERMINO ***** -->
    <!-- **************** CADASTROS BÁSICOS DO SISTEMA  ******************  -->
    <servlet>
        <servlet-name>GerenciarFamilia</servlet-name>
        <servlet-class>br.uem.npd.basico.controladores.familia.GerenciarFamilia</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ExcluirFamilia</servlet-name>
        <servlet-class>br.uem.npd.basico.controladores.familia.ExcluirFamilia</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PesquisarFamilia</servlet-name>
        <servlet-class>br.uem.npd.basico.controladores.familia.PesquisarFamilia</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>NovoFamilia</servlet-name>
        <servlet-class>br.uem.npd.basico.controladores.familia.NovoFamilia</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GravarFamilia</servlet-name>
        <servlet-class>br.uem.npd.basico.controladores.familia.GravarFamilia</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AlterarFamilia</servlet-name>
        <servlet-class>br.uem.npd.basico.controladores.familia.AlterarFamilia</servlet-class>
    </servlet>
    <!-- ********** CADASTROS BÁSICOS DO SISTEMA - SERVLETS-MAPPING - TERMINO ***** -->
</web-app>
